<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FYE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FYE.Properties.Settings>
            <setting name="DogovorjenaMočBlok1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DogovorjenaMočBlok2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DogovorjenaMočBlok3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DogovorjenaMočBlok4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DogovorjenaMočBlok5" serializeAs="String">
                <value>0</value>
            </setting>
        </FYE.Properties.Settings>
    </userSettings>
</configuration>